# ===============================
# ENV FILES (NEVER PUSH SECRETS)
# ===============================
.env
*.env

# ===============================
# NODE
# ===============================
node_modules/
npm-debug.log*

# ===============================
# FLUTTER / DART
# ===============================
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub/
build/

# ===============================
# OS FILES
# ===============================
.DS_Store
Thumbs.db

# ===============================
# IDE
# ===============================
.vscode/
.idea/

# ===============================
# LOG FILES
# ===============================
*.log
